<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <link rel="icon" href="data:;base64,=">
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;Delicious kitchen
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h3>NUTZUNGSBEDINGUNGEN</h3>
            <p class="text-left">
                1. ALLGEMEINES
                <br>a. Diese Nutzungsbedingungen (nachfolgend „NB“) legen die Bedingungen fest unter welcher der Dienst
                Delicious kitchen benützt werden kann. Die vom Diensteanbieter angebotenen Dienste richten sich ausschließlich
                an natürliche Personen bzw. Verbraucher (i.S.d. § 1 des österreichischen Konsumentenschutzgesetz -
                KSchG).<br>
                b. Die Nutzung des DELICIOUS KITCHEN Dienstes unterliegt diesen NBs.<br><br>
                2. ANGABEN ZUM DIENSTEANBIETER<br>

                Diensteanbieter ist die <br>

                Foxseek Media Limited<br>
                Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok Kowloon Hong Kong<br>
                Firmenbuchnummer: 61592090<br>
                Firmenbuchgericht: Mahé<br>
                Umsatzsteuer-Identifikationsnummer: N/A<br>
                Tel.: +852 21395855<br>
                Fax: N/A<br>
                E-Mail: support@foxseek.com <br>
                Web: <a href="http://www.foxseek.com/">www.foxseek.com</a><br>

                (nachfolgend „Diensteanbieter“, „uns“, „wir“ oder Foxseek Media Limited)<br><br>
                3. ANGABEN ZUM DIENST<br>

                a. Der von Diensteanbieter angebotene Dienst „DELICIOUS KITCHEN“ ist eine mobile Website, und betrifft somit ein
                Dienst über die Lieferung von nicht auf einem körperlichen Datenträger gespeicherten digitalen
                Inhalten. DELICIOUS KITCHEN ist ausgerichtet auf die Nutzung auf mobile Endgeräte, die eine gültige SIM-Karte
                haben und/oder PCs/Macs mit Internetzugang.<br>

                b. DELICIOUS KITCHEN ist kompatibel mit Android, IOS (bei mobilen Endgräten) bzw.<br>

                c. 1. User wählt das Produkt auf der Anbieterseite aus
                2. User bestätigt die Bezahlung auf der Angebotsseite via Klick auf den Button „Kaufen“
                3. User wird zur operator payment page weitergeleitet und bestätigt dort erneut den Kauf..<br>

                d. €3.99 pro woche. Alle Preise sind in Euro und verstehen sich einschließlich der jeweils gültigen
                gesetzlichen Umsatzsteuer.<br>

                e. Der Dienst wird automatisch wöchentlich verlängert bis der Benutzer den Dienst kündigt.<br>

                f. Abbuchung zu 3.99€ pro Woch.<br>

                g. Das Service kann unter <a href="http://mobileinfo.biz">http://mobileinfo.biz</a> gekündigt werden.
                <br><br>
                4. RÜCKTRITTSRECHT <br>

                a. Gemäß § 11 Fern- und Auswärtsgeschäftegesetzes (FAGG) haben Sie grundsätzlich das Recht, von einem
                mit uns für den DELICIOUS KITCHEN Dienst abgeschlossen Vertrag innerhalb von 14 (vierzehn) Tagen ohne Angabe
                von Gründen zurücktreten, dies ab dem Tag des Vertragsabschlusses. Die Ausübung des Rücktrittsrechts
                führt dazu, dass Sie nichts zu bezahlen haben bzw. eine erfolgte Zahlung an Ihnen zurückzuerstatten
                ist. Das Muster-Widerrufsformular können Sie hier finden:<a href="/static/muster.pdf" class="aff" download="Muster.pdf">Widerrufsformular</a>.<br>

                b. Gemäß § 18 Abs 1 Z 11 FAGG Sie verlieren jedoch Ihr Rücktrittsrecht wenn<br>

                i. der mit uns abgeschlossene Vertrag die Lieferung von nicht auf einem körperlichen Datenträger
                gespeicherten digitalen Inhalten betrifft (was im Hinblick auf den DELICIOUS KITCHEN Dienst der Fall ist),<br>

                ii. wir Ihnen eine Bestätigung des Vertrages übermitteln (dies ist in der Regel eine SMS), und<br>

                iii. Sie ausdrücklich zugestimmt haben, dass wir mit der Ausführung des Vertrags noch vor Ablauf der
                sonst bestehenden 14-tägigen Rücktrittsfrist beginnen, und zur Kenntnis nehmen, dass Sie mit dieser
                Zustimmung Ihr Rücktrittsrecht verlieren.<br><br>


                5. DATENSCHUTZ<br>

                a. MIT DER NUTZUNG UNSERES DIENSTES DELICIOUS KITCHEN GEBEN SIE IHRE AUSDRÜCKLICH ZUSTIMMUNG, DASS IHRE
                PERSÖNLICHEN DATEN, NÄMLICH<br>

                • IHRE RUFNUMMER<br>

                ZUM ZWECK DER ERBRINGUNG DES DIENSTES VERARBEITET WERDEN UND AN IHREN MOBILEFUNKANBIETER (ENTWEDER
                DIREKT ODER ÜBER UNSEREN TECHNISCHEN ZAHLUNGSDIENSTLEISTER) ZUM ZWECK DER ABRECHNUNG ÜBER IHRE
                MOBILFUNKRECHNUNG ÜBERMITTELT WERDEN.<br>

                b. Sie können die unter Punkt 5.a dieser NBs abgegebene Zustimmung jederzeit schriftlich widerrufen
                (E-Mail an support@foxseek.com genügt).<br><br>


                6. ANFRAGEN<br>

                a. Allfällige Fragen zum Dienst DELICIOUS KITCHEN können gerichtet werden an:<br>

                Tel.: 0800 100 336(EUR 0,00/Min.)<br>
                E-Mail: info-at@mobileinfo.biz <br>
                Web: <a href="http://www.mobileinfo.biz/customercare/">http://www.mobileinfo.biz/customercare</a><br>

                b. Wenn Sie eine Frage bzw. Anliegen zum Dienst DELICIOUS KITCHEN haben, halten Sie bitte Ihre Handynummer
                bereit bzw. geben Sie uns diese bekannt. Ohne Ihre Handynummer, können wir nämlich Ihr Anliegen nicht
                bearbeiten.<br><br>
            </p>

        </div>
        <div class="col-xs-12 text-center" style="margin:20px;text-align:center">
            <p class="txt" >
                <a href="/at/AGB">AGB</a> |
                <a href="/at/FAQ">FAQ</a> |
                <a href="/at/KONTAKT">KONTAKT</a> |
                <a href="/at/IMPRESSUM">IMPRESSUM</a> | <br>
                <a href="http://www.mobileinfo.biz/customercare/">ABO VERWALTUNG</a> |
                <a href="/at/KUNDIGUNG">KÜNDIGUNG</a> | <br>
                <a href="/at/DATENSCHUTZERKLARUNG">DATENSCHUTZERKLÄRUNG</a> |
                <a href="/at/Rucktrittsrechts">HINWEIS AUF RÜCKTRITTSRECHT</a>
            </p>
        </div>
    </div>
</body>

</html>