<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <link rel="icon" href="data:;base64,=">
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h3>DATENSCHUTZERKLÄRUNG</h3>
            <p class="text-left">

                Foxseek Media Limited. ist eine Private Gesellschaft mit beschränkter Hauptsitz in Hong Kong registriert, Mahé, Republik Seychellen. Diese Datenschutzrichtlinien beschreiben
                die Art und Weise, wie wir online und offline erhaltene personenbezogene Daten („PI“) von und über
                Personen in Österreich erfassen, verwenden und weiterleiten. Diese Datenschutzrichtlinien beschreiben
                die Datenschutzpraktiken von Foxseek Media Limited.<br><br>
                Foxseek Media Limited. ist über die Internetseite <span style="color: red">http://deliciouskitchen.recipenice.com/</span> tätig. Personenbezogene
                Daten von Kindern unter 18 Jahren werden nicht wissentlich erfasst. Wenn ein Kind unter 18 Jahren
                personenbezogene Daten übermittelt, und wir erfahren, dass dies personenbezogene Daten über ein Kind
                unter 18 Jahren sind, werden wir uns bemühen, diese Informationen schnellstmöglich zu vernichten.<br><br>
                Foxseek Media Limited. kann seine Datenschutzrichtlinien zu einem späteren Zeitpunkt
                überarbeiten. Wenn Änderungen an der Art und Weise der Erfassung oder Verwendung der PI erfolgen, so
                werden diese Änderungen in den Datenschutzrichtlinien veröffentlicht. Das Datum der Wirksamkeit der
                Veränderungen wird am Anfang der Richtlinien vermerkt. Daher sollten Sie von Zeit zu Zeit die
                Datenschutzrichtlinien prüfen, damit Sie stets auf dem aktuellen Stand über unsere gültigen Regelungen
                und Praktiken sind. Wenn Foxseek Media Limited. seine Praktiken zur Erfassung und Verwendung
                Ihrer PI wesentlich verändert, so unterliegen Ihre PI weiterhin der Regelung, gemäß der sie erfasst
                wurden, es sei denn, Sie wurden über die Veränderung unterrichtet und haben ihr nicht widersprochen.
                Diese Datenschutzrichtlinien sind Bestandteil von und unterliegen den allgemeinen Geschäftsbedingungen
                der Internetseite von Foxseek Media Limited..<br><br>

                ERFASSUNG: ERFASSUNG VON PI DURCH Foxseek Media Limited.
                <br><br>
                Allgemeines. Foxseek Media Limited. erfasst Ihre PI, um mit Ihnen eine Beziehung herzustellen
                oder diese Beziehung zu verbessern. Zu den PI, die erfasst werden können, gehören Ihr voller Name,
                E-Mail-Adresse, Abrechnungsinformationen und Handynummer sowie andere Informationen, die im Laufe der
                Zeit von Ihnen angefordert werden können.<br><br>
                Wir erfassen Ihre PI, weil Sie uns diese Informationen freiwillig zur Verfügung stellen, wenn Sie (1)
                sich auf unserer/unseren Internetseite(n) registrieren, um mobile Unterhaltungsangebote wie
                Klingeltöne, Spiele, Bilder, News und andere Daten („Downloads“) herunterzuladen, wenn Sie (2) an
                Aktionen teilnehmen wie z. B. Gewinnspielen, Wettbewerben, Spielen, Umfragen, Foren, im Zusammenhang
                mit von Ihnen an uns geschickte Inhalte oder Vorschläge in Chats oder an Pinnwänden. Wir können
                ebenfalls PI von seriösen Drittanbietern sowie aus Quellen wie öffentlichen Datenbanken erhalten.<br><br>

                Bitte vergessen Sie nicht, Ihre Handynummer anzugeben. Wir setzen uns so schnell wie möglich mit Ihnen
                in Verbindung!<br><br><br>

                Cookies: Cookies sind kleine Informationseinheiten, welche durch Foxseek Media Limited-Internetseite auf der
                Festplatte Ihres Computers gespeichert werden. Cookies speichern Informationen über Ihre Aktivitäten
                auf der/den Foxseek Media Limited-Internetseite(n) und versetzen Foxseek Media Limited in die Lage, Ihren Besuch der
                Foxseek Media Limited-Internetseite(n) angenehmer zu gestalten. Zum Beispiel können Cookies Ihr Passwort für ein
                leichteres Einloggen auf eine zuvor besuchte Seite speichern oder Ihre Einstellungen und Optionen für
                eine persönlich zugeschnittene Homepage sichern. Foxseek Media Limited. verwendet Cookies um
                festzustellen, welchen Internet-Browser Sie verwenden, ob Sie die notwendige Software für den Zugang zu
                bestimmten Materialien auf unserer/unseren Webseite(n) installiert haben, um die Besucherzahl unserer
                Webseite(n) zu ermitteln und um Sie bei Ihrem nächsten Besuch der Foxseek Media Limited-Internetseite
                wiederzuerkennen. Informationen über Ihre Aktivitäten auf der Foxseek Media Limited-Internetseite und weitere nicht
                persönlich zuzuordnende Informationen über Sie können auch verwendet werden, um die Anzahl der
                Werbebanner auf diejenigen zu beschränken, die unserer Ansicht nach Ihren Interessen entsprechen.><br><br>
                Werbung von Drittanbietern auf der/den Foxseek Media Limited-Internetseite(n) können ebenfalls Cookies von
                Internet-Werbeunternehmen oder Werbetreibern enthalten. Foxseek Media Limited. kontrolliert
                diese Cookies nicht und Besucher unserer Webseite(n) sollten die Datenschutzrichtlinien der
                Werbetreiber prüfen, um sich über deren Einsatz von Cookies zu informieren. Weitere Informationen über
                Werbung von Drittanbietern finden Sie im nachstehenden Abschnitt „Hinweis“.<br><br>
                Foxseek Media Limited. kann Cookies und ähnliche Werkzeuge verwenden, um Ihre Nutzung unserer
                Internetseite(n) mit von Ihnen oder einem seriösen Drittanbieter erhaltenen PI in Beziehung zu setzen.
                Wenn Sie uns beispielsweise um Informationen über unsere neuesten Produkte oder Aktionen bitten,
                ermöglichen uns Cookies und Click-Stream-Daten über Ihre Aktivitäten auf der/den
                Foxseek Media Limited-Internetseite (n), Ihnen nur die Materialien zuzusenden, die unseres Erachtens aufgrund Ihrer
                vorherigen Aktivitäten und Vorlieben für Sie interessant sind. Wir werden jedoch jeweils Ihre
                ausdrückliche Zustimmung einholen, wenn wir beabsichtigen, Daten von Cookies oder Click-Stream-Daten
                mit Ihren persönlichen Informationen zu verbinden.<br><br>
                Sie können Ihren Computer so einstellen, dass er Sie vor dem Senden von Cookies warnt oder Cookies
                vollständig ablehnt. Ohne Cookies kann jedoch Ihr Zugang zu bestimmten Funktionen der
                Foxseek Media Limited-Internetseite(n) wie etwa zu Ihrer persönlichen Optionsseite blockiert sein.<br><br>
                Darüber hinaus kann Foxseek Media Limited. (oder ein Drittanbieter) Informationen über Besucher
                der Foxseek Media Limited-Internetseite zur Pflege und Optimierung der Internetseite, für die Sicherheit und andere
                rechtlich zulässige Zwecke automatisch erfassen. Diese Informationen können die IP-Adresse und den
                Browsertyp des Besuchers, das Datum, die Uhrzeit und Dauer des Besuchs sowie die einzelnen besuchten
                Seiten umfassen.<br><br>
                HINWEIS: Foxseek Media Limited. INFORMIERT SIE ÜBER SEINE PRAKTIKEN DER DATENERFASSUNG<br><br>
                Wenn Sie Foxseek Media Limited. freiwillig Ihre PI überlassen, stellen wir sicher, dass Sie
                darüber informiert sind, wer die Informationen erfasst, wie und warum die Informationen erfasst werden
                und wie Foxseek Media Limited. die Informationen verwendet.<br><br>
                In dem Moment, wo wir Ihre PI erhalten, informiert Foxseek Media Limited. Sie über Ihre
                Auswahlmöglichkeiten bezüglich der Verwendung Ihrer PI, einschließlich deren mögliche Weitervergabe an
                andere Unternehmen (siehe nachstehender Abschnitt „Auswahl“).<br><br>
                Die vorliegenden Datenschutzrichtlinien beschreiben die Art anderer Unternehmen, die Ihnen
                möglicherweise Informationen über ihre Produkte und Dienstleistungen zusenden und hierfür Ihre Daten
                verwenden möchten, wenn Sie Foxseek Media Limited. Ihre Zustimmung hierzu erteilt haben (siehe
                nachstehender Abschnitt „Verwendung“).<br><br>
                Manchmal erfassen wir PI von Verbrauchern auch manuell oder offline, z. B. in Form von Postkarten oder
                Formblättern. Oft ist es schwierig, in solchen Situationen detaillierte Informationen zu geben, so dass
                den Verbrauchern stattdessen ein kurzer Hinweis erteilt wird, wie sie die vollständigen
                Datenschutzrichtlinien und andere wichtige Informationen von uns erhalten können.<br><br>
                Die Foxseek Media Limited.-Internseite(n) kann/können mit von anderen Unternehmen betriebenen
                Internetseiten verlinkt sein. Einige dieser Drittanbieter-Seiten können mit dem Foxseek Media Limited.-Logo versehen sein, auch wenn sie nicht von Foxseek Media Limited. betrieben oder
                aufrechterhalten werden.<br><br>
                Die Foxseek Media Limited. Internetseite(n) kann/können auch Werbung anderer Unternehmen
                enthalten. Foxseek Media Limited. ist nicht verantwortlich für die Gestaltung von Internetseiten
                von Drittanbietern, die mit unserer/unseren Seite(n) verlinkt sind, oder für deren Datenschutzpraktiken
                oder die von Internet-Werbeunternehmen. Wenn Sie die Foxseek Media Limited.-Seite über einen
                solchen Link oder über Anklicken einer Werbung verlassen haben, sollten Sie die jeweils geltenden
                Datenschutzrichtlinien des Drittanbieters oder Werbeunternehmens prüfen, um Informationen über deren
                Umgang mit von Ihnen erfassten Daten zu erhalten.<br><br>
                Die Foxseek Media Limited.-Internetseite(n) kann/können auch mit Seiten verlinkt sein, die von
                mit Foxseek Media Limited. verbundenen Unternehmen betrieben werden (z. B. Unternehmen des
                Foxseek Media Limited.-Konzerns). Auch wenn Unternehmen des Foxseek Media Limited.-Konzerns Bestandteil dieses Konzerns sind, sollten die Besucher dieser Seiten verbundener
                Unternehmen deren gesonderte Datenschutzrichtlinien und -praktiken prüfen, die in Teilen von den
                vorliegenden Datenschutzrichtlinien abweichen können.<br><br>
                AUSWAHL: BEI Foxseek Media Limited SND BHD BESTIMMEN SIE ÜBER DIE VERWENDUNG IHRER PI<br><br>
                Foxseek Media Limited. verwendet die von Ihnen überlassenen PI nur für die Zwecke, für die sie
                übermittelt wurden, und stellt Ihre PI nicht Dritten zur Verfügung, die nicht mit Foxseek Media Limited. verbunden sind (d. h. die nicht Teil des Foxseek Media Limited.-Konzerns sind), sofern
                Sie hierzu nicht Ihre Zustimmung erteilt haben.<br><br>
                VERWENDUNG: VERWENDUNG DER PI DURCH Foxseek Media Limited.<br><br>
                Foxseek Media Limited. verwendet die von Ihnen überlassene PI stets gemäß den vorliegenden
                Datenschutzrichtlinien. Wenn Foxseek Media Limited. von einem Drittanbieter, z. B. einem
                Geschäftspartner, erhält, so unterliegt diese Information den vorliegenden Datenschutzrichtlinien.<br><br>
                Zum Beispiel kann Foxseek Media Limited. Ihre PI und Registrierdaten verwenden, um Ihnen
                wichtige Informationen und Benachrichtigungen zu Ihrem Account und den Foxseek Media Limited.-Diensten zu senden. Darüber hinaus verwenden wir Ihre uns im Zusammenhang mit einem Download
                übermittelte PI für die Abwicklung Ihres Abonnements oder Ihrer Dienstanforderung, einschließlich
                Bestellungsausführung und Zahlungsabwicklung wenn zutreffend. In diesem Zusammenhang gibt Foxseek Media Limited. Ihre Kreditkartendaten nicht an Dritte weiter, es sei denn, dies ist zur Erfüllung
                von Aufgaben (wie Bestellungsausführung und Zahlungsabwicklung) notwendig, um Ihre Einkäufe und
                Abonnements über www.mobileinfo.biz abzuwickeln.<br><br>
                Das Foxseek Media Limited.-Unternehmen übermittelt Foxseek Media Limited. die PI, die
                notwendig sind, um Ihnen die Downloads und anderen angeforderten Dienste zur Verfügung zu stellen. Das
                Foxseek Media Limited.-Unternehmen übermittelt ebenfalls Ihrem Handynetzbetreiber die
                Informationen, die zur Berechnung der Downloads und anderen bestellten Dienste notwendig sind.
                Weiterhin kann Foxseek Media Limited. anonymisierte PI zu Forschungszwecken verwenden.<br><br>
                Foxseek Media Limited. kann Ihre PI den mit Foxseek Media Limited. verbundenen
                Unternehmen des Foxseek Media Limited.-Konzerns zur Verfügung stellen. Wenn Sie Ihre
                entsprechende Zustimmung erteilt haben, kann Foxseek Media Limited. Ihre PI Werbeunternehmen und
                Geschäftspartnern zur Verfügung stellen, die nicht Teil des Foxseek Media Limited.-Konzerns
                sind, Ihnen jedoch Informationen über ihre Produkte und Dienstleistungen zukommen lassen möchten. Sie
                können uns jedoch jederzeit Ihre Anweisung mitteilen, dass Sie keine Weitergabe der von Ihnen erfassten
                PI an nicht verbundene Drittunternehmen wünschen.<br><br>
                Angestellte, Beauftragte und Vertragspartner von Foxseek Media Limited. müssen ein berechtigtes
                Geschäftsinteresse haben, um auf Ihre PI zugreifen zu dürfen. Foxseek Media Limited. kann Ihre
                PI an externe Vertragspartner oder Beauftragte weiterleiten, die uns bei der Informationsverwaltung
                unterstützen (z. B. Gewinnspielverwaltung, Bestellungsausführung, statistische Analysen). Diese dürfen
                Ihre PI jedoch ausschließlich für die Erfüllung einer speziellen Dienstleistung für Foxseek Media Limited. und nicht für andere Zwecke nutzen.<br><br>
                Foxseek Media Limited. kann auch in Vereinbarungen mit externen Unternehmen eintreten, die über
                die Technologie verfügen, die es Foxseek Media Limited. ermöglicht, Werbe- und Marketinganzeigen
                auf der/den Foxseek Media Limited-Internetseite(n) auf Ihre Interessen abzustimmen. Ihre nicht personenbezogenen
                Daten und Click-Stream-Daten zu Ihren Aktivitäten auf der/den Foxseek Media Limited-Internetseite(n) können an
                diese Unternehmen weitergegeben werden, um diese Abstimmung zu ermöglichen. Diese Unternehmen geben
                Ihre Daten nicht an Dritte weiter und verwenden sie für keinerlei andere Zwecke. Anonyme
                Click-Stream-Daten und demografische Daten können ebenfalls an Werbe- und Geschäftspartner von
                Foxseek Media Limited. weitergegeben werden.<br><br>
                Gegebenenfalls kann Foxseek Media Limited. zur Offenlegung von PI ohne vorherige
                Benachrichtigung verpflichtet sein, um eigene Rechtsansprüche von Foxseek Media Limited., von
                Unternehmen des Foxseek Media Limited-Konzerns oder deren Angestellten, Beauftragten oder Vertragspartnern zu
                schützen, um die Sicherheit der Besucher unserer Internetseite(n) zu gewährleisten, zum Schutz gegen
                Betrug und zum Risikomanagement oder zur Erfüllung gesetzlicher oder rechtlicher Auflagen. oder bei
                einem Verkauf oder Transfer von Unternehmenswerten oder bei einer sonstigen Beteiligung von Foxseek Media Limited. an Fusionen oder Geschäftszusammenschlüssen im Rahmen einer solchen Transaktion an
                Dritte übertragen werden.<br><br>
                SICHERHEIT: Foxseek Media Limited SCHÜTZT IHRE PI<br><br>
                Foxseek Media Limited. setzt angemessene verwaltungstechnische, elektronische, personelle und
                physische Verfahren ein, um in seinem Besitz befindliche PI gegen Verlust, Diebstahl und unbefugte
                Nutzung, Offenlegung oder Veränderung zu schützen. Darüber hinaus setzt Foxseek Media Limited.
                angemessene Maßnahmen zur Gewährleistung der Korrektheit, Aktualität und hinreichenden Vollständigkeit
                der PI ein.<br><br>
                ZUGRIFF, WIDERSPRUCH UND KONTAKT: ÜBERPRÜFUNG, KORREKTUR, LÖSCHUNG IHRER PI<br><br>
                Wann immer dies möglich ist, können Besucher von Foxseek Media Limited. ihre PI in unseren
                Datenbeständen überprüfen. Wer werden angemessene Schritte unternehmen, um PI zu korrigieren, die nach
                Information eines Besuchers nicht korrekt sind.<br><br>
                Wenn Sie Foxseek Media Limited. auffordern, Ihre PI nicht mehr zu verwenden, wird Foxseek Media Limited. dieser Bitte entsprechen, jedoch die Daten weiterhin speichern, die aufgrund von
                nationalen oder internationalen Gesetzen aufbewahrt werden müssen.<br><br>
                FRAGEN UND KONTAKT: SO KONTAKTIEREN SIE Foxseek Media Limited ZU FRAGEN DES DATENSCHUTZES.<br><br>
                Wenn Sie Foxseek Media Limited. Fragen zu dieser Datenschutzrichtlinie oder zur Erfassung und
                Verwendung Ihrer PI stellen möchten, wenn Sie Ihre PI überprüfen, korrigieren oder löschen möchten oder
                wenn Sie jegliche Kontaktaufnahme durch uns für die Zukunft unterbinden möchten, so wenden Sie sich
                bitte an uns per E-Mail unter info-at@mobileinfo.biz oder an unseren Kundendienst unter Helpdesk: 0800
                100 336 (EUR 0,00/Min.) wo man Ihnen gerne behilflich sein wird. Sie erreichen uns ebenfalls unter
                folgender Adresse:<br><br>
                Foxseek Media Limited<br><br>
                 Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok Kowloon Hong Kong<br><br>
            </p>
        </div>
        <div class="col-xs-12 text-center" style="margin:20px;text-align:center">
                <p class="txt">
                <a href="/at/AGB">AGB</a> |
                <a href="/at/FAQ">FAQ</a> |
                <a href="/at/KONTAKT">KONTAKT</a> |
                <a href="/at/IMPRESSUM">IMPRESSUM</a> | <br>
                <a href="http://www.mobileinfo.biz/customercare/">ABO VERWALTUNG</a> |
                <a href="/at/KUNDIGUNG">KÜNDIGUNG</a> | <br>
                <a href="/at/DATENSCHUTZERKLARUNG">DATENSCHUTZERKLÄRUNG</a> |
                <a href="/at/Rucktrittsrechts">HINWEIS AUF RÜCKTRITTSRECHT</a>
            </p>
        </div>
    </div>
</body>

</html>