<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <link rel="icon" href="data:;base64,=">
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h3>FAQ</h3>
            <p>
                1.Was ist DELICIOUS KITCHEN Portal?<br>
                <a href="http://deliciouskitchen.recipenice.com/">http://deliciouskitchen.recipenice.com/</a> ist eine mobile Website, DELICIOUS KITCHEN“ ist eine mobile Website, für hochwertige mobile resources. Die Inhaltsliste besteht aus Hunderten von Titeln. Diese resources sind mit Telefonen kompatibel, die Android und Java2ME unterstützen.<br><br>

                2. Wie kann man sich anmelden?<br>
                Dieser Abo-Dienst wurde auf DELICIOUS KITCHEN über das mobile Internet des Mobilfunkgerätes bestellt und muss
                explizit durch den Benutzer bestätigt werden um aktiv zu sein.<br><br>

                3. Die Anmeldung wird nicht durchgeführt. Woran kann das liegen?<br>
                Erscheint nach Klick auf den Abo-Bestelllink eine Fehlermeldung, so konnte die Anmeldung nicht
                durchgeführt werden. Dies kann verschiedene Gründe haben:<br>
                – Fehlermeldung: Dienst steht nicht zu Verfügung<br>
                – Fehlermeldung: Endgerät wird nicht unterstützt<br>
                – Fehlermeldung: Ihr DELICIOUS KITCHEN Abo konnte bei Ihrem Netzbetreiber leider nicht angemeldet werden.
                Bitte überprüfen Sie Ihr Guthaben und auch die Einstellungen Ihres Handys für Premiumdienste und
                versuchen Sie es dann noch einmal!<br><br>

                4. Wie und mit welchen Fristen kann das Abonnement beendet werden?<br>
                Sie können das bestellte Abonnement jederzeit und mit sofortiger Wirkung kündigen.<br>
                Wählen Sie den Link “Kontakt” am unteren Ende der mobile Internetseite DELICIOUS KITCHEN und setzen Sie sich
                per E-Mail oder Telefon mit unserem Kundenservice in Verbindung. Bitte geben Sie dabei immer Ihre
                Handynummer an!<br><br>
            </p>
        </div>
        <div class="col-xs-12 text-center" style="margin:20px;text-align:center">
                <p class="txt">
                <a href="/at/AGB">AGB</a> |
                <a href="/at/FAQ">FAQ</a> |
                <a href="/at/KONTAKT">KONTAKT</a> |
                <a href="/at/IMPRESSUM">IMPRESSUM</a> | <br>
                <a href="http://www.mobileinfo.biz/customercare/">ABO VERWALTUNG</a> |
                <a href="/at/KUNDIGUNG">KÜNDIGUNG</a> | <br>
                <a href="/at/DATENSCHUTZERKLARUNG">DATENSCHUTZERKLÄRUNG</a> |
                <a href="/at/Rucktrittsrechts">HINWEIS AUF RÜCKTRITTSRECHT</a>
            </p>
        </div>
    </div>
</body>

</html>