<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=360">
    <link rel="icon" href="data:;base64,=">
    <link type="text/css" rel="stylesheet" href="/static/css/tnc.css">
    <style>
        p {
            font-family: 'Titillium Web', Sans-Serif;
            margin-bottom: 1rem;
            font-size: inherit;
            line-height: 1.6;
            text-rendering: optimizeLegibility;
            box-sizing: inherit;
        }

        h4 {
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <h3>IMPRESSUM</h3>
            <p class="text-left">

                Foxseek Media Limited<br>
                 Unit B, 10/F Lee May Buliding 788-790 Nathan Road Mongkok Kowloon Hong Kong<br>

                Sollten Sie noch Fragen haben, dann können Sie Kontakt mit uns aufnehmen unter:<br>
                E-mail: info-at@mobileinfo.biz<br>
                Helpdesk: 0800 100 336 (EUR 0,00/Min.)<br><br>

                Bitte vergessen Sie nicht, Ihre Handynummer anzugeben. Wir setzen uns so schnell wie möglich mit Ihnen
                in Verbindung!<br><br>

                HINWEIS AUF RÜCKTRITTSRECHT<br><br>

                Gemäß § 11 Fern- und Auswärtsgeschäftegesetzes (FAGG) haben Sie grundsätzlich das Recht, von einem mit
                uns im Fernabsatz abgeschlossen Vertrag innerhalb von 14 (vierzehn) Tagen ohne Angabe von Gründen
                zurücktreten, dies ab dem Tag des Vertragsabschlusses. Die Ausübung des Rücktrittsrechts führt dazu,
                dass Sie nichts zu bezahlen haben bzw. eine erfolgte Zahlung an Ihnen zurückzuerstatten ist. Das
                <a href="/static/muster.pdf" class="aff" download="Muster.pdf">Widerrufsformular</a> können Sie hier finden.<br>
                Gemäß § 18 Abs 1 Z 11 FAGG Sie verlieren jedoch Ihr Rücktrittsrecht wenn
                der mit uns abgeschlossene Vertrag die Lieferung von nicht auf einem körperlichen Datenträger
                gespeicherten digitalen Inhalten betrifft,
                wir Ihnen eine Bestätigung des Vertrages übermitteln, und
                Sie ausdrücklich zugestimmt haben, dass wir mit der Ausführung des Vertrags noch vor Ablauf der sonst
                bestehenden 14-tägigen Rücktrittsfrist beginnen, und zur Kenntnis nehmen, dass Sie mit dieser
                Zustimmung Ihr Rücktrittsrecht verlieren.<br><br>
            </p>

        </div>
        <div class="col-xs-12 text-center" style="margin:20px;text-align:center">
                <p class="txt">
                <a href="/at/AGB">AGB</a> |
                <a href="/at/FAQ">FAQ</a> |
                <a href="/at/KONTAKT">KONTAKT</a> |
                <a href="/at/IMPRESSUM">IMPRESSUM</a> | <br>
                <a href="http://www.mobileinfo.biz/customercare/">ABO VERWALTUNG</a> |
                <a href="/at/KUNDIGUNG">KÜNDIGUNG</a> | <br>
                <a href="/at/DATENSCHUTZERKLARUNG">DATENSCHUTZERKLÄRUNG</a> |
                <a href="/at/Rucktrittsrechts">HINWEIS AUF RÜCKTRITTSRECHT</a>
            </p>
        </div>
    </div>
</body>

</html>